@import "mixins/palette";
@import "mixins/utility";
@import "global";

h4 {
  color: $text-color;
  font-size: 17px;
  font-weight: 600;
  margin-top: 7px;
}

.modal-header {
  color: $text-color!important;
  background: $white-text-color;

  .close {
    font-size: 36px;
    color: $text-color!important;
  }
}

.modal-content {
  padding: $modal-padding;
  border-radius: $modal-border-radius;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.modal {
  background-color: rgba(89, 89, 116, 0.66);
}

.modal-dialog {
  margin: 2.5rem auto;
}

