@import "../../../../assets/scss/mixins/palette";
@import "../../../../assets/scss/mixins/utility";
@import "../../../../assets/scss/modals";

.option-modal {
  max-width: 520px;
  width: 100%;
  .modal-content {
    padding: 0 0 20px;

    h2 { margin: 0; }
  }
}

.proxy-length-1 { width: 18%!important; }
.proxy-length-2 { display: inline-block; width: 4%!important; padding: 0 3px; text-align: center; color: $silver-dark; }
.proxy-length-3 { width: 60%!important; }
.proxy-length-4 { display: inline-block; width: 3%!important; padding: 0 3px; text-align: center; color: $silver-dark; }
.proxy-length-5 { width: 15%!important; }

.option-table {
  td {
    padding-left: 0!important;
    padding-right: 0!important;
  }
  td:nth-child(1) {
    font-size: 13px;
    font-weight: 400;
    color: $text-black;
  }
  td:nth-child(2) {
    width: 60px;
    button {
      display: inline-block!important;
      margin-left: 10px;
    }
  }
}

.panel{
  animation: fadein .8s;
  overflow-x: hidden;
  padding: 0 1px;
}

.margin-fix {
  margin: 0 20px 0;
}

.max-height-200 {
  max-height: 200px;
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
