@import "../../../assets/scss/global";
@import "../../../assets/scss/mixins/palette";

::ng-deep {
  .mat-line {
    font-size: 15px!important;
  }
  .mat-list-item-content {
    i {
      font-size: 20px;
      margin-right: 8px;
    }
  }

}
