<mat-list>

  <mat-list-item (click)="resetFilters();">
    <div mat-line><i class="moon-Row"></i> All Sessions</div>
  </mat-list-item>
  <mat-list-item (click)="showOnlyPinned();">
    <div mat-line><i class="moon-Pin"></i> Pinned</div>
  </mat-list-item>

  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div mat-subheader>Saved segments</div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-list-item *ngFor="let segment of segments">
        <ng-container (click)="applySegmentFilter(segment);">
          <div mat-line class="visible-option-menu"><i class="moon-Tag"></i> {{segment.name}} <i class="moon-More"></i></div>
        </ng-container>
      </mat-list-item>

    </mat-expansion-panel>
  </mat-accordion>

</mat-list>
