@import "../../../../assets/scss/mixins/palette";
@import "../../../../assets/scss/mixins/utility";
@import "../../../../assets/scss/global";

::ng-deep {
  .create-modal {
    max-width: 520px!important;
    width: 100%;
  }
}

.strategy-list {
  .providers {
    width: 100%;
    background: $white-text-color;
    color: $text-color;
    border-radius: $border-radius;
    border: 1px solid $silver-25;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    &:hover {
      border: 1px solid $silver-dark;
    }

    img {
      margin-right: 20px;
    }
  }
}

p { font-size: 10px; font-weight: normal; color: $silver-dark; }
