@import "../../../../assets/scss/mixins/palette";
@import "../../../../assets/scss/modals";

.confirm-modal {
  max-width: 300px;
  width: 100%;
}

.content {
  .message {
    max-height: 318px;
    overflow-y: auto;
  }
}
